body {
  background-image: url(../images/transparent_waves.jpg);
  background-size: cover;
}

h1 {
    border-radius: 30px;
    border: solid 3px;
}

.title {
  background-color: black;
  color: orange;
  text-align: center;
  font-size: 4em;
  font-family: Arial;
  transition: 0.7s ease;
  border-radius: 30px;
}

.title:hover {
  background-color: rgb(230,46,0);
  color: black;
  transition: 0.7s ease;
}



.navs {
  width: 400px;
  background-color: rgb(0,0,0);
  border: solid orange;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 2em;
  opacity: 95%;
  padding: 1px;
  border-radius: 30px;
  list-style: none;
}


.navs ul a {
  color: rgb(252,98,3);
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-left: -40px;
  transition:0.6s ease;
}

.navs ul a:hover{
  transition: 0.6s ease;
  font-size: 120%;
  background-color: rgb(56,46,36);
  border-radius: 10px;
  padding: 3px;
  border: solid 2px rgb(252,98,3);
}

ul li {
  display: block;
}

img {
  background-color: rgb(137,214,168);
  border: solid 2px rgb(0,0,0);
  border-radius: 50%;
  padding: 10px;
}

.contacts a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 35px;
  color: orange;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  transition: 0.4s;
  text-decoration: none;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px;
}

.contacts a:hover {
  color: white;
  transition: 0.6s;
}
