body {
  background-image: url(../images/transparent_waves.jpg);
  background-size: cover;
}


.title {
  background-color: rgb(230,46,0);
  color: black;
  text-align: center;
  font-size: 4em;
  font-family: Arial;
  transition: 0.7s ease;
  border: 3px solid;
  border-radius: 30px;
}

.title:hover {
  color: orange;
  background-color: black;
  transition: 0.7s ease;
}



.navs {
  background-color: rgb(0,0,0);
  text-align: center;
  font-size: 2em;
  opacity: 95%;
  padding: 1px;
  border-radius: 30px;
  list-style: none;
}


.navs ul a {
  color: rgb(252,98,3);
  display: flex;
  justify-content: space-evenly;
  transition:0.6s ease;
}

.navs ul a:hover{
  transition: 0.6s ease;
  font-size: 120%;
  background-color: rgb(56,46,36);
  border-radius: 10px;
  padding: 3px;
  opacity: 100%;
  border: solid 2px rgb(252,98,3);
}

ul li {
  display: block;
}

img {
  background-color: rgb(230,46,0);
  border: solid 2px rgb(0,0,0);
  border-radius: 30px;
  padding: 10px;
}
