

body {
  background-image: url(../images/background-pattern.jpg);
  background-attachment: fixed;
}


h1 {
  background-color: black;
  color: orange;
  text-align: center;
  font-size: 4em;
  font-family: Arial;
  transition: 0.7s ease;
  border-radius: 30px;
}

h2 {
  font-size: 1.8em;
  font-family: Arial;
  background-color: orange;
  color: black;
  text-align: center;
}

a {
  transition:0.6s ease;
  border: 1px solid rgb(0,0,0);
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}

 img:hover{
  transition: 0.6s ease;
  width: 40%;
  height: 40%;
  box-shadow: 0 0 4px 4px rgb(255,119,0);
}

img {
  border: 1px solid rgb(0,0,0);
  border-radius: 4px;
  padding: 5px;
}

.sites {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  background-color: black;
  margin-left: 50px;
  margin-right: 50px;
}
